body{
    background-color: blue;
}

p{
    color: yellow;
}

.lorem{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    text-align: center;
    color: chartreuse;
}