body {
    margin: 0 auto;
}

.main {
    position: relative;
    height: 500px;
}

.main .top_rings {
    position: relative;
    height: 200px;
    text-align: center;
}

.main .bottom_rings {
    position: relative;
    top: -80px;
    height: 200px;
    text-align: center;
}

.color {
    position: relative;
    display: inline-block;
    border: black solid 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 8px;
}


.color.blue {
    border-color: blue;
    z-index: 500;
}

.color.green {
    border-color: green;
    z-index: 200;
}

.color.yellow {
    border-color: yellow;
    z-index: 400;
}

.color.black {
    border-color: black;
    z-index: 300;
}

.color.red {
    border-color: red;
    z-index: 100;
}

.title {
    text-align: center;
    margin: 0 0 25px 0;
    border: violet solid 5px;
    border-radius: 25%;
    background-color: blueviolet;
}

.main_chess {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 400px;
    width: 400px;
}


.black_chess {
    background-color: black;
    height: 50px;
    width: 50px;
}

.white_chess {
    background-color: #fff;
    height: 50px;
    width: 50px;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: black solid 1px;
}

.chess_title {
    text-align: center;
    margin: 25px 0;
    border: black solid 5px;
    border-radius: 25%;
    background-color: violet;
}